


html,
body {
    height: auto;
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;


    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#painel{
    background-color: #8dccad;
    padding: 20px;
    width: 30%;

}

#professores{
    background-color: #f5cc7f;
    padding: 20px;
    width: 30%;
}

#equipes{
    background-color: #7b9fe0;
    height: auto;
    width: 85px; /** 75**/
    padding: 10px;
    text-align: center;
}

#protocolos{
    background-color: #f27c8d;
    padding: 9px;
    width: auto;

}

* {
    position: relative;
    margin: 0;
    padding: 0;



    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    transition: all ease .4s;
}


.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;

}

.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}

.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree span {
    border: solid .1em #666;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
}

.tree ul:before,
.tree code:before,
.tree span:before {
    outline: solid 1px #666;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree code:before,
.tree span:before {
    top: -.55em;
}

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>span:before {
    outline: none;
}