
#painel{
    width: 200px;
    padding: 10px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    border: 0 none;

    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    transition: all ease .4s;
}

html,
body {
    height: auto;
    width: auto;


    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: white;


    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

}




.nav ul {
    position: relative;
    padding-top: 20px;
}

.nav li {
    position: relative;
    padding: 20px 3px 0 3px;
    float: left;

    text-align: center;
    list-style-type: none;
}

.nav li::before, .nav li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
    border-top: 3px solid black;
}

.nav li::after{
    left: 50%;
    right: auto;

    border-left: 3px solid black;
}

.nav li:only-child::after, .nav li:only-child::before {
    content: '';
    display: none;
}

.nav li:only-child{ padding-top: 0;}
.nav li:first-child::before, .nav li:last-child::after{
    border: 0 none;
}

.nav li:last-child::before{
    border-right: 3px solid black;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.nav ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 3px solid black;
    width: 0;
    height: 20px;
}

.nav li a{
    display: inline-block;
    padding: 5px 10px;

    border-radius: 5px;
    border: 1px solid black; /*cor do contorno das bordas*/

    text-decoration: none;
    text-transform: uppercase;
    color: black; /* cor da letra caixas*/
    font-family: arial, verdana, tahoma;
    font-size: 11px;
}

.nav li a:hover, .nav li a:hover+ul li a {
    color: #000;
    background: #c8e4f8;
    border: 1px solid #94a0b4;
}

.nav li a:hover+ul li::after,
.nav li a:hover+ul li::before,
.nav li a:hover+ul::before,
.nav li a:hover+ul ul::before{
    content: '';
    border-color: red;




}
/*cores e definições de niveis*/
#painel{
    background-color: #8dccad;
    padding: 20px;
    width: 40%;

}

#professores{
    background-color: #f5cc7f;
    padding: 20px;
    width: 40%;
}

#equipes{
    background-color: #7b9fe0;
    height: 60px;
    width: 85px; /** 75**/
    padding: 10px;
    text-align: center;
}

#protocolos{
    background-color: #f27c8d;
    padding: 9px;
    width: 100%;
}
